html, body{
}

.primary_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item_subject{
  background: white;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.subject_name {
    color: #0D47A1;
}

.subject_name:hover {
    text-decoration: underline;
}

.btn_option{
  text-align: center;
}
